// importing scss files to use
@use "./variables" as *;
@use "./mixins" as *;

header {
  .navBar {
    @include flexStyling(space-between, center);
    padding: 1.5rem 2rem;

    .cart-checkout {
      position: relative;
      cursor: pointer;
    }

    .cart-checkout .cart-number {
      position: absolute;
      bottom: 76%;
      left: 48%;
      color: red;
      font-weight: bold;
    }
    .cart-checkout:hover {
      border-radius: 0px;
      box-shadow: 0 2px 5px;
      height: 35px;
      width: 52px;
      padding: 5px 10px;
      margin: 0 auto;
    }

    .hamburgerMenu {
      display: none;
    }

    img {
      object-fit: contain;
    }
    // use this: https: //www.30secondsofcode.org/css/s/hover-underline-animation/
    nav {
      ul {
        justify-content: center;

        a {
          color: $darkGrey;
          text-transform: uppercase;
          margin-right: 2rem;
        }

        li:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .cart-page {
    background-color: rgba(39, 82, 245, 0.5);
    height: auto;
    z-index: 999;
    position: absolute;
    width: 100%;
    top: 2%;
    display: flex;
    flex: column;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    align-items: center;
    transform: translateX(100%);
    transition: 0.5s ease;
  }

  .cart-page.active-cart {
    transform: translate(0);
  }

  .empty-text {
    margin-bottom: 20px;
  }
  .purchase-btn {
    width: 168px;
    height: 62px;
    margin: 20px;
    padding: 20px;
  }

  //   display images for the cart

  // adding class for the ul

  .ul-cart-images {
    width: 100%;
  }

  .li-cart-image {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .ul-cart-images .li-cart-image img {
    height: 200px;
  }

  // end with cart images styles

  // adding style for items after we set the firebase

  /* Inline #14 | http://127.0.0.1:5502/index.html# */

  .liItem {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 10px 5px 10px black;
    background-color: rgb(247, 247, 247);
  }

  .imgItem {
    width: 200px;
  }

  .removeBtn {
    border: none;
    background-color: rgb(247, 247, 247);
  }

  .imgItem {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  header .cart-page {
    text-transform: uppercase;
    font-weight: 500;
    font-weight: solid;
  }

  // end of styling

  .headerContainer {
    height: 100vh;

    .wrapper {
      justify-content: center;
      height: 100%;
      padding-right: 50%;

      h1 {
        @include fontStyle(3rem);
        padding-bottom: 1rem;
      }

      p {
        @include fontStyle(1rem, $regular, $darkGrey);
      }
    }
  }

  .indexContainer {
    background-image: url(../assets/home.jpg);
    @include backgroundImg();
  }

  .contactContainer {
    background-image: url(../assets/contact-us.jpg);
    @include backgroundImg();
    height: 30vh;
  }
}
