// importing variable partial
@use "./variables" as *;

// general styling
// fonts
@mixin fontStyle($sizeValue: 125%, $weightValue: $medium, $colorValue: $darkGrey) {
    font-size: $sizeValue;
    font-weight: $weightValue;
    color: $colorValue;
}

// Flex
@mixin flexStyling ($justifyStyle, $alignStyle) {
    justify-content: $justifyStyle;
    align-items: $alignStyle;
}

// images
@mixin imgSize($imgHeight: auto, $imgMaxWidth: 100%, $imgDisplay: block) {
    height: $imgHeight;
    max-width: $imgMaxWidth;
    display: $imgDisplay;
}

// Background image
@mixin backgroundImg ($backImgPos: center, $backImgSize: cover, $backImgRepeat: no-repeat) {
    background-position: $backImgPos;
    background-size: $backImgSize;
    background-repeat: $backImgRepeat;
}

// wrapper
@mixin wrapperStyle($wrapperMargin: 0 auto, $wrapperMaxWidth: 1200px, $wrapperWidth: 90%) {
    margin: $wrapperMargin;
    max-width: $wrapperMaxWidth;
    width: $wrapperWidth;
}

// border for featured sales, view all button, and checkout icon
// **NOT SURE IF I NEED THIS
@mixin borderStyle($borderSize: 1px, $borderType: solid, $borderColor: $lightGrey) {
    border: $borderSize $borderType $borderColor;
}
