// Variables for project
// color palette
$pink: #eba0aa;
$darkGrey: #333;
$lightGrey: #666;
$blue: #88cce2;
$white: #fff;
$beige: #d7b89c;
$lightGreyBorder: #6666664f;

// fonts
$regular: 400;
$medium: 500;
$bold: 700;

// responsive design widths
// 1. 1080 - 1200px
// 2. 768px tablets
// 3. 320px phones
// 4. any other odd break points that happen

$largeLaptop: 1479px;
$laptop: 1080px;
$tablet: 768px;
$phone: 450px;
$smallPhone: 350px;